<div class="min-h-screen p-4 gap-4 lg:p-8 lg:gap-8 grid grid-layout">
  <app-header
    class="lg:col-span-2"
    (start)="sim.start($event.halfLife, $event.particles)"
    (stop)="sim.stop()"
    [running]="sim.running"
    [newRealDataPoint]="sim.newDataPointEvent"
  ></app-header>

  <app-plot
    [newRealDataPoint]="sim.newDataPointEvent"
    [startNewPlot]="sim.startNewPlotEvent"
  ></app-plot>

  <app-visualize
    [numberOfParticles]="sim.particles"
    [startNewPlot]="sim.startNewPlotEvent"
  ></app-visualize>
</div>
