.grid-layout {
  grid-template-rows: auto minmax(400px, 1fr) auto;
  grid-template-columns: 1fr;
}

@screen lg {
  .grid-layout {
    grid-template-rows: auto minmax(400px, 1fr);
    grid-template-columns: 2fr 1fr;
  }
}
